:root {
    --azul-ceu: #d7e3fc;
    --azul-claro: #1076BC;
    --azul-escuro: #01568E;
    --branco: #fff;
    --cinza-claro: #F8F9FA;
    --cinza-escuro: #3b3b3b;
    --shadow: 0 0 20px 1px #aaaaaa31;
}

@font-face {
    font-family: 'Extatica';
    src: url('../fonts/Extatica-Regular.otf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_18pt-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter Regular', sans-serif;
}

a {
    text-decoration: none;
    color: var(--azul-claro) !important;
}

li {
    list-style: none;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2rem;
    overflow: hidden;
}

.overlay {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right,
            #000e0f 10%,
            #000e0fbd 40%,
            #ffffff32) 50%;
}

.hide {
    height: 0;
    overflow: hidden;
}

.show {
    height: auto;
    overflow: visible;
}

.flex {
    display: flex;
}

.barra-lateral {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
}

.barra-lateral .barra {
    display: block;
    height: 40px;
    width: 7px;
    background: var(--azul-claro);
    margin-right: 1rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
}

.lead {
    font-size: .9rem;
    line-height: 1.5;
    font-weight: 400;
    color: #3b3b3b;
}

.titulo-g {
    font-size: 1.3rem;
    color: var(--azul-escuro);
    text-transform: uppercase;
}

.titulo-m {
    font-size: 1.2rem !important;
    color: var(--azul-escuro);
}

.active {
    transform: scale(1.1);
    color: var(--azul-claro) !important;
    font-weight: 600;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: .8rem 2rem;
    font-size: .9rem;
    border: 1px solid var(--azul-claro);
    background: none;
    outline: none;
    border-radius: 2px;
    color: var(--branco) !important;
    cursor: pointer;
    transition: .5s;
    font-weight: 300;

    & * {
        color: var(--branco) !important;
        display: inline-block;
        margin-left: 10px;
    }
}

.btn:hover {
    background: var(--azul-escuro);
    color: var(--branco);
    border: none;
}

.social-btn {
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background: none;
    color: var(--azul-claro);
    border-radius: 50%;
    border: 1px solid var(--azul-claro);
    transition: .3s;
}

.social-btn:hover {
    background: var(--azul-claro);
}

.social-btn:hover i {
    color: var(--branco);
}

.b-radius-10 {
    border-radius: 10px;
}

.saiba-mais button {
    background: none;
    border: 0;
    margin-right: .5rem;
    font-size: .9rem;
    cursor: pointer;
}

.saiba-mais {
    display: block;
    width: 110px;
    padding-bottom: .5rem;
    font-size: .9rem;
}

.saiba-mais * {
    color: var(--azul-escuro) !important;
}

.saiba-mais *:hover {
    color: var(--azul-claro) !important;
}

#voltar-ao-topo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: var(--azul-escuro);
    color: var(--branco);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid var(--azul-ceu);
    display: none;
}

#voltar-ao-topo:hover {
    background: var(--azul-claro);
}

/* Estilo do Cabecalho */

/* navbar */

#cabecalho {
    padding: 50px 4%;
    position: fixed;
    width: 100%;
    background: none;
    z-index: 2;
    transition: .3s;
}

#cabecalho.scrolled {
    background-color: var(--branco);
    padding: 25px;
    box-shadow: 0 0 5px 5px #3434340c;
}

#cabecalho.scroll-init {
    background-color: var(--branco) !important;
    padding: 25px !important;
    box-shadow: 0 0 5px 5px #3434340c !important;
}

#cabecalho .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cabecalho .navbar .container a img {
    max-width: 120px;
}

#cabecalho .navbar .container ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#cabecalho .navbar .container ul li a {
    display: block;
    transition: .3s;
    font-size: 1.1rem;
    color: var(--branco) !important;
}

#cabecalho.scrolled .navbar .container ul li a {
    color: var(--azul-escuro) !important;
}

#cabecalho.scroll-init .navbar .container ul li a {
    color: var(--azul-escuro) !important;
}

#cabecalho .navbar .container .btn {
    color: var(--branco) !important;
}

#cabecalho .navbar .container .btn:hover {
    background-color: var(--branco);
    color: var(--azul-escuro) !important;
    font-weight: 400;
}

#cabecalho.scrolled .navbar .container .btn {
    border: 1px solid var(--azul-claro);
    color: var(--azul-claro) !important;
    font-weight: 400;
}

#cabecalho.scroll-init .navbar .container .btn {
    border: 1px solid var(--azul-claro);
    color: var(--azul-claro) !important;
    font-weight: 400;
}

#cabecalho.scrolled .navbar .container .btn:hover {
    background-color: var(--azul-claro);
    color: var(--branco) !important;
}

#cabecalho.scroll-init .navbar .container .btn:hover {
    background-color: var(--azul-claro) !important;
    color: var(--branco) !important;
}

#cabecalho .navbar .container ul li a:hover {
    font-weight: 500;
    transform: scale(1.1);
}

#cabecalho .navbar .btn {
    font-size: 1.1rem !important;
    width: 150px;
    padding: 15px 0;
    text-align: center;
}

.mobile {
    position: absolute;
    left: 0;
    backdrop-filter: blur(50px);
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 1s cubic-bezier(.175, .885, .32, 1.275);
    display: none;
    z-index: 999;
}

.mobile li {
    padding: .5rem 0;
    text-align: center;
}

.mobile li a {
    display: block;
    width: 100%;
    height: 100%;
    color: var(--branco);
    transition: .3s;
}

.mobile li a:hover {
    transform: scale(1.1);
}

.abrir_fechar {
    color: var(--azul-claro);
    font-size: 1.2rem;
    display: none;
}

.mobile.aberto {
    /* opacity: .9; */
    padding-top: 20px !important;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    align-items: center;
    width: 100vw;
    margin: 0;
    height: 70vh;
    left: 0;
}

/* ============================================== */
/*          Estilo do popup              */

.popup {
    position: fixed;
    width: 100vw;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);
    background: rgba(1, 86, 142, .1);
    z-index: 2;
    transition: 1s !important;
    overflow: hidden;

    & .container {
        margin: 0 4%;
        background-color: var(--branco);
        width: 900px;
        padding: 50px 0;
        border-radius: 30px;
        border: none;
        /* overflow: hidden; */
        box-shadow: var(--shadow);

        & .form-container {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 70px;

            & .box {
                width: 49%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            & .box-1 {
                & .content {
                    width: 600px;
                    height: 600px;
                    background-color: var(--azul-escuro);
                    color: var(--branco);
                    margin-top: -280px;
                    margin-left: -130px;
                    padding: 300px 0 100px 200px;
                    border-radius: 50%;

                    & .titulo-g {
                        text-transform: uppercase;
                        font-size: 40px;
                        color: var(--branco);
                    }

                    & .titulo-m {
                        text-transform: uppercase;
                        color: var(--branco);
                        font-size: 16px;
                        font-weight: 400;
                        margin-bottom: 10px;
                    }

                    & .lead {
                        padding-right: 20px;
                        font-weight: 300;
                        font-size: 15px;
                        margin-top: 20px;
                        color: var(--branco);
                        padding-right: 50px;
                    }
                }

                & .bola-1 {
                    background-color: var(--azul-claro);
                    box-shadow: var(--shadow);
                    margin-top: -100px;
                    margin-left: -100px;
                    width: 300px;
                    height: 300px;
                    border-radius: 50%;
                }

                & .bola-2 {
                    background-color: var(--azul-claro);
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    margin-top: -300px;
                    margin-left: 230px;
                    box-shadow: var(--branco);

                }
            }


            & .box-2 {
                margin-right: 60px;

                & .fa-close {
                    position: relative;
                    right: -98%;
                    margin-top: -10%;
                    display: block;
                    border: 1px solid var(--azul-escuro);
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    padding-top: 7px;
                    border-radius: 50%;
                    font-size: 25px;
                    color: var(--azul-escuro);
                    cursor: pointer;
                    transition: .5s;
                }

                & .fa-close:hover {
                    background-color: var(--azul-escuro);
                    color: var(--branco);
                }

                & .content {
                    & .titulo-g {
                        font-size: 40px;
                    }

                    & .lead {
                        font-size: 13px;
                        text-transform: initial;
                        margin-bottom: 10px;
                    }
                }

                & .input-group {
                    background-color: var(--azul-ceu);
                    padding: 5px 10px;
                    border-radius: 10px;
                    margin-bottom: 10px;

                    & input {
                        width: 80%;
                        margin-left: 5px;
                        height: 30px;
                        font-size: 15px;
                        background: none;
                        border: none;
                        outline: none;
                    }
                }

                & .checkbox {
                    font-size: 13px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 20px 0;
                    text-transform: initial;

                    & a {
                        color: var(--azul-escuro);
                        text-decoration: none;
                    }

                    & p>input:checked {
                        background-color: var(--azul-claro);
                    }
                }

                & .butoes {

                    & button {
                        width: 100%;
                        height: 40px;
                        border-radius: 10px;
                        border: none;
                        outline: none;
                        color: var(--branco);
                        font-size: 15px;
                    }

                    & .signin {
                        background-color: var(--azul-escuro);
                        transition: .5s;
                        cursor: pointer;
                    }

                    & .signin:hover {
                        background-color: var(--azul-claro);
                        color: #fff;
                    }

                    & .signup {
                        background: none;
                        color: var(--azul-escuro);
                        border: 1px solid var(--azul-escuro);
                        transition: .5s;
                        cursor: pointer;
                    }

                    & .signup:hover {
                        background-color: var(--azul-claro);
                        color: #fff;
                    }

                    & div {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin: 5px 0;
                        font-size: 14px !important;

                        & span {
                            display: block;
                            width: 40%;
                            height: 1px;
                            background-color: var(--azul-claro);

                        }
                    }

                }

                & .conta {
                    font-size: 15px !important;
                    text-transform: initial;
                    margin-top: 25px;

                    & a {
                        color: var(--azul-claro);
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

#popup.abrir-popup {
    width: 100vw;
    height: 100vh;
}


/*  Estilo do main-footer     */

#main-footer {
    padding: 3rem 0;
    background: var(--azul-escuro);
}

#main-footer .flex-column {
    gap: 50px;
}

#main-footer .flex {
    align-items: center;
    justify-content: center;
    gap: 30px;

    & div {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        align-items: center;
        justify-content: center;

        & button {
            cursor: pointer;
            width: 50px;
            height: 50px;
            background: none;
            border: 1px solid var(--branco);
            border-radius: 50%;
            color: #fff;
            font-size: 15px;
            transition: .5s;
        }

        & button:hover {
            background-color: var(--azul-claro);
            border: none;
        }

        & button:nth-child(2) {
            margin: 0 20px;
        }

        & a {
            color: var(--branco) !important;
            font-size: .8rem;
            font-weight: 100 !important;
        }
    }
}

#main-footer hr {
    border: none;
    height: 1px;
    background: var(--branco);
    border-radius: 50px;
}